body {
    font-size: 15px;
    background-color:  hsl(0, 0%, 95%);
    height:100hv;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
div {
    width: 200px;
    padding: 50px;
    margin: 0 -2px;
   

}
.sedan {
    background-color: hsl(31, 77%, 52%);
    border-radius: 7px 0 0 7px;

}
.suvs {
    background-color: hsl(184, 100%, 22%);
}
.luxury {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 7px 7px 0;
}
p {
    color: hsla(0, 0%, 100%, 0.75);
    padding: 30px 0;
    line-height: 25px;
    font-family: "Lexend Deca";
    font-weight: 400px;
}

h1 {
    color:  hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display";
    font-weight: 700px; 
}
button {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color:  hsl(0, 0%, 95%);
    cursor: pointer;
    font-family: "Big Shoulders Display";
    font-weight: 700; 
}
.button1 {
    color: hsl(31, 77%, 52%);
    
}
.button2 {
    color: hsl(184, 100%, 22%);
}
.button3 {
    color: hsl(179, 100%, 13%);
}

.button1:hover {
    background-color: hsl(31, 77%, 52%);
    color:  hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
}
.button2:hover {
    background-color:  hsl(184, 100%, 22%);
    color:  hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
}
.button3:hover {
    background-color: hsl(179, 100%, 13%);
    color:  hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 95%);
}
@media screen and (max-width:1440px) and (min-width:375px){
    body {
        max-width: 1440px;
        min-width: 375px;
    }
}